header{
    background-image: url(../IP3-master/assets/backgrounds/h_img.jpg);
    background-size: cover;
    text-align: center;
}
.about{
    text-align:center;
}
.center{
    text-align: center;
    background-image: url(../IP3-master/assets/backgrounds/s_image.jpg);
}
.things{
    text-align: center;
}   


