header{
    background-image: url(../IP3-master/assets/backgrounds/h_img.jpg);
    background-size: cover;
    text-align: center;
}
.about{
    text-align:center;
}
.center{
    text-align: center;
    background-image: url(../IP3-master/assets/backgrounds/s_image.jpg);
}
.development-p{
    display: none;
}
.things{
    text-align: center;
}
.contacts{
    text-align: center;
    background-image: url(../IP3-master/assets/backgrounds/c_image.jpg);
} 
.portfolio img{
    width: 250px;
} 
#MERGE1, #MERGE0, #comment{
    background: none;
    color: #fff;
    } 
    


