.intro{
    background-image: url(../IP3-master/assets/backgrounds/h_img.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    height: 500px;
}
.about{
    text-align:center;
}
.center{
    text-align: center;
    background-image: url(../IP3-master/assets/backgrounds/s_image.jpg);
    color: white;
    height: 450px;
}
.development-p{
    display: none;
}
.things{
    text-align: center;
}
.contacts{
    text-align: center;
    background-image: url(../IP3-master/assets/backgrounds/c_image.jpg);
} 
.portfolio img{
    width: 250px;
} 
#MERGE1, #MERGE0, #comment{
    background: none;
    color: #fff;
} 
footer{
    text-align: center;
    padding: 20px;
}
footer p{
    padding: 5px;
    text-align: center;
}
.design-p{
    display: none;
}
.product-p{
    display:none;
}
#p4{
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.4;
        position: absolute;
        top: 0em;
        display: none;
        color: black;
        font-size: 20px;
        padding-top: 25%;
        padding-right: 14%;
        border:3px ,solid green;
        cursor: pointer;
        font-weight: bolder
}
#p3{
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.4;
        position: absolute;
        top: 0em;
        display: none;
        color: black;
        font-size: 20px;
        padding-top: 25%;
        padding-right: 14%;
        border:3px ,solid green;
        cursor: pointer;
        font-weight: bolder 
}
#p2{
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0.7;
        position: absolute;
        top: 0em;
        display: none;
        color: black;
        font-size: 20px;
        padding-top: 25%;
        padding-right: 14%;
        border:3px ,solid green;
        cursor: pointer;
        font-weight: bolder 
}
#p1{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.4;
    position: absolute;
    top: 0em;
    display: none;
    color: black;
    font-size: 20px;
    padding-top: 25%;
    padding-right: 14%;
    border:3px ,solid green;
    cursor: pointer;
    font-weight: bolder 
}
#p5{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.4;
    position: absolute;
    top: 0em;
    display: none;
    color: black;
    font-size: 20px;
    padding-top: 25%;
    padding-right: 14%;
    border:3px ,solid green;
    cursor: pointer;
    font-weight: bolder 
}
#p6{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.4;
    position: absolute;
    top: 0em;
    display: none;
    color: black;
    font-size: 20px;
    padding-top: 25%;
    padding-right: 14%;
    border:3px ,solid green;
    cursor: pointer;
    font-weight: bolder 
}
#p7{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.4;
    position: absolute;
    top: 0em;
    display: none;
    color: black;
    font-size: 20px;
    padding-top: 25%;
    padding-right: 14%;
    border:3px ,solid green;
    cursor: pointer;
    font-weight: bolder 
}
#p8{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.4;
    position: absolute;
    top: 0em;
    display: none;
    color: black;
    font-size: 20px;
    padding-top: 25%;
    padding-right: 14%;
    border:3px ,solid green;
    cursor: pointer;
    font-weight: bolder 
}
#p9{
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.4;
    position: absolute;
    top: 0em;
    display: none;
    color: black;
    font-size: 20px;
    padding-top: 25%;
    padding-right: 14%;
    border:3px ,solid green;
    cursor: pointer;
    font-weight: bolder 
}
#name{
    background-color: transparent;
}
#name ::placeholder{
    color: white;
}
#email{
    background-color: transparent;
}
#email ::placeholder{
    color: white;
}
#comment{
    background-color: transparent;
}
#comment ::placeholder{
    color: white;
}




